.blog_content{
    width: 100%;
    
}
.blog_img{
   padding: 30px 0px;
}
.blog_img img{
    width: 100%;
    border-radius: 15px;
}
.blog_details h2{
    color: inherit;
}
.blog_details font{
    color: #AAA;
    padding-left: 15px;
}
.blog_details span{
    color: #2a2a2a;
}
.blog_details input{
    border: 1px solid slateblue;
    padding: 5px 50px;
}
.blog_details a{
    border: 1px solid transparent;
    padding: 6px 20px;
    background: slateblue;
    border-radius: 5px;
    color: #fff!important;
}
.blog_details a:hover{
    background: #7d6bef;
}
/*star*/
#rating-form{
    display: inline-block;
}
.rating-star {
    direction: rtl;
    font-size: 18px;
    unicode-bidi: bidi-override;
    display: inline-block;
}
.rating-star input {
    opacity: 0;
    position: relative;
    left: -30px;
    z-index: 2;
    cursor: pointer;
}
.rating-star span.star:before {
    color: #777777;
}
.rating-star span.star {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1;
}
.rating-star span {
    margin-left: -15px;
}
.rating-star span.star:before {
    color: #777777;
    content:"\f006";
}
.rating-star input:hover + span.star:before, .rating-star input:hover + span.star ~ span.star:before, .rating-star input:checked + span.star:before, .rating-star input:checked + span.star ~ span.star:before {
    color: #ffd100;
    content:"\f005";
}

.selected-rating{
    color: #ffd100;
    font-weight: bold;
    font-size: 42px;
}