body{
    margin:0px;
    padding:0px;
    outline:none;
    overflow-x: hidden;
}
.header-top-bar-container {
    background-color: #F5F5F5;
}
.ul_design
{
    display:flex;
    list-style:none;
    padding-top: 8px;
}
.ul_design>li{
    color: #AAA;
    padding-right: 5px;
}
.span_padding{
    padding-left: 8px
}
.col-sm-1>.ul_design>li>img{
     padding-right: 10px;
     cursor: pointer;
     height:24px;
 }
.font_awesome_icon{
    height:24px;
    cursor: pointer;
}
.logo_design{
    height: 60px;
    margin-top: 10px;
}
.text-color{
    color:#39C4D7;
}
.hr_design{
    width:200px;
    border:1px solid #39C4D7;
    margin-top:-5px;
}
.service_design{
    border:1px solid #AAA;
    /*border-top-left-radius: 1em;*/
    /*border-bottom-right-radius: 1em;*/
    padding:40px;
    color:#372C77;
    margin-right: 10px;
    margin-bottom: 10px;
}
.background_color{
    background-color:#F5F5F5;
    padding-top: 10px;
}
.service_icon{
    height: 60px;
    width: 60px;
}
.service_design>span{
    margin-left: 5px;
    margin-top: 15px;
}




