body{
    margin:0px;
    padding:0px;
    outline:none;
    overflow-x: hidden;
}
.header-top-bar-container {
    background-color: #F5F5F5;
}
.ul_design
{
    display:flex;
    list-style:none;
    padding-top: 8px;
}
.ul_design>li{
    color: #AAA;
    padding-right: 5px;
}
.span_padding{
    padding-left: 8px
}
.col-sm-1>.ul_design>li>img{
     padding-right: 10px;
     cursor: pointer;
     height:24px;
 }
.font_awesome_icon{
    height:24px;
    cursor: pointer;
}
.logo_design{
    height: 60px;
    margin-top: 10px;
}
.text-color{
    color:#39C4D7;
}
.hr_design{
    width:200px;
    border:1px solid #39C4D7;
    margin-top:-5px;
}
.service_design{
    border:1px solid #AAA;
    padding:20px;
    color:#372C77;
    margin-bottom: 20px;
}
.background_color{
    background-color:#F5F5F5;
    padding-top: 18px !important;
}
.service_icon{
    height: 60px;
    width: 60px;
}
.service_design>span{
    margin-left: 5px;
    margin-top: 15px;
}
.service_link{
    text-decoration:none !important ;
}
.scheme_design{
    width: 248px !important;height: 220px !important;
}

.flt-left{
    float:left;
}
.carousel{
    width:100%;
    margin-left:30px !important;
}
.row_o{
    width:90%;
    padding:0;
    overflow:hidden;
    margin:auto;
}
.row-container{
    width:2000px;
    transition:0.5s;
}
.container_o{
    width:250px;
    height: 300px;
    float:left;
    display:inline;
    margin:0 5px;
    border: 1px solid #AAA;
}
.clear{
    clear:both;
}
.controls{
    width:100%;
    margin:auto;
}
button{
    /*border:none;*/
    padding:10px 20px;
    color:#AAA;
    /*background:#39C4D7;*/
    font-weight:bold;
    outline:none;
    border:1px solid #39C4D7;
    border-radius:3px;
    height:200px;
    /*postion:relative;*/
}
.banner_worker{
    height: 500px;width: 500px
}





